html
body
  width: 100%
  min-height: 100%
  height: 100%

body
  min-width: 320px
  line-height: 1
  color: $text-main
  background-size: cover

  +m($tablet)
    padding-top: 70px
  //   background: $bg-body url('assets/bg-mobile.png') repeat
  //   background-size: contain

h1, h2, h3, h4, h5, h6
  display: inline-block

h1
h2
  margin: 56px 0 20px
  font-size: 56px
  line-height: 56px
  font-weight: 300
  color: white

  +m($tablet)
    font-size: 46px

  +m($mobile)
    font-size: 30px

h3
  margin: 20px 0
  font-size: 18px
  font-weight: 400
  color: white
p
  margin: 4px 0
  line-height: 2.5
  letter-spacing: 0.7px
  font-size: 15px

  // +m($tablet)
  //   line-height: 1.6

a
  display: inline-block
  text-decoration none

ul
  padding: 0
  margin: 0
  list-style: none

img
  display: inline-block
  max-width: 100%

*
  box-sizing: border-box

.container
  width: $containerDesktop
  margin: 0 auto

.section

  .section__text
    display: inline-block

  &.hero
    text-align: center

    .section__text
      display: block
      margin: 0 auto
      max-width: 730px

  &.faq
    margin: 200px 0 0 0

    .title
      display: block

.text-blue
  color: $blue
